# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
*.log
logs
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Environment variables
.envs

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbsss

# Package managers
pnpm-lock.yaml